<ion-modal-view>
	<ion-header-bar>
		<h1 class="title">Delete Grocery List Item</h1>
	</ion-header-bar>
	<ion-content>
		<br/>
		<div class="padding centered">
			<select class="stylized-select" ng-model="oldItem" ng-options="grocery as grocery.name for grocery in groceries"></select><br/><br/>
			<button class="button button-assertive" ng-click="RemoveItem(oldItem); oldItem=''; closeModal2();" ng-disabled="!(oldItem.name.length > 0)">
				Delete Item
			</button>&nbsp;&nbsp;
			<button class="button" ng-click="closeModal2(); oldItem='';">Cancel</button>
		</div>
	</ion-content>
</ion-modal-view>
