<ion-view view-title="Grocery List 1">
	<ion-content class="ham-background">
		<br/>
		<div class="centered">
			<button class="button button-outline button-positive icon-right ion-plus" ng-click="openPopover($event)">Popover</button>&nbsp;&nbsp;
			<script src="templates/NewGroceryItemPopover.html" id="NewGroceryItem.html" type="text/ng-template"></script>
			<button class="button button-outline button-positive icon-right ion-plus" ng-click="openModal()">Modal</button>&nbsp;&nbsp;
			<script src="templates/NewGroceryItemModal.html" id="NewGroceryItem2.html" type="text/ng-template"></script>
			<button class="button button-outline button-assertive icon-right ion-android-remove-circle" ng-click="openModal2()">Modal</button>
			<script src="templates/DeleteGroceryItemModal.html" id="DeleteGroceryItem.html" type="text/ng-template"></script>
		</div>
		<br/>
		<ion-list ng-repeat="grocery in groceries track by grocery.id">
			<ion-checkbox ng-model="grocery.hasGotten" ng-change="SaveList()">&nbsp;&nbsp;{{grocery.name}}</ion-checkbox>
		</ion-list>
	</ion-content>
</ion-view>
