<ion-view view-title="Grocery List 2">
	<ion-nav-buttons side="secondary">
		<button class="button button-clear button-positive icon ion-android-add" ng-click="SetIsAddingToTrue()"></button>
	</ion-nav-buttons>
	<ion-content class="pineapple-background">
		<div>
			<div ng-show="isAdding" class="slide-down">
				<br/>
				<ion-list>
					<label class="item item-input">
						<input type="text" placeholder="Enter New Grocery Item" ng-model="newItem">
					</label>
				</ion-list>
				<div class="padding centered">
					<button class="button button-positive" ng-click="AddItem(newItem); SetIsAddingToFalse(); newItem='';" ng-disabled="!(newItem.length > 0)">
						Add New Item
					</button>&nbsp;&nbsp;
					<button class="button" ng-click="SetIsAddingToFalse(); newItem='';">Cancel</button>&nbsp;&nbsp;
				</div>
			</div>
		</div>
		<br/>
		<ion-list>
			<ion-item class="item-simple" ng-repeat="grocery in groceries track by grocery.id">
				<div class="row">
					<div class="col col-20">
						<ion-label class="checkbox">
							<input type="checkbox" ng-model="grocery.hasGotten" ng-change="SaveList()"></input>
						</ion-label>
					</div>
					<div class="col vertically-centered">{{grocery.name}}</div>
					<ion-option-button class="button-assertive" ng-click="RemoveItem(grocery)">Remove</ion-option-button>
				</div>
			</ion-item>
		</ion-list>
	</ion-content>
</ion-view>
