<ion-popover-view>
	<ion-header-bar>
		<h1 class="title">New Grocery List Item</h1>
	</ion-header-bar>
	<ion-content>
		<br/>
		<ion-list>
			<label class="item item-input">
				<input class="thin-border" type="text" placeholder="Enter New Grocery Item" ng-model="newItem">
			</label>
		</ion-list>
		<div class="padding centered">
			<button class="button button-positive" ng-click="AddItem(newItem); newItem=''; closePopover();" ng-disabled="!(newItem.length > 0)">
				Add New Item
			</button>&nbsp;&nbsp;
			<button class="button" ng-click="closePopover(); newItem='';">Cancel</button>&nbsp;&nbsp;
		</div>
	</ion-content>
</ion-popover-view>
