<ion-view view-title="On Sale">
	<ion-content class="sale-background">
		<div class="centered padding"><h2>&nbsp;This Week's Sales</h2></div>
		<ion-list>
			<ion-item ng-repeat="item in saleItems">
			{{item.name}} - {{item.price}}
			</ion-item>
		</ion-list>
		<div class="padding centered"><h4>{{saleItemErrorMessage}}</h4></div>
	</ion-content>
</ion-view>
