<div ng-controller="SplashCtrl">
	<ion-content class="splash-background">
		<br/>
		<div class="splash-screen-offset"></div>
		<div class="padding">
			<button class="button button-splash button-large icon-right ion-clipboard" ng-click="hide()"><b>Use the App</b></button>
		</div>
	</ion-content>
</div>