ion-content {
	background-color: #EBF4FA;
}

.list {
	background-color: rgba(255,255,255,0.5) !important;	
}

.item, .item-content, .item-complex {
	background-color: transparent !important;
}

.centered {
	text-align: center;
}

.vertically-centered {
	display: flex; 
	align-items: center;
}

.stylized-select {
	font-size: 16px; 
	height: 34px; 
	width: 80%;
}

.thin-border {
	border: 1;
}

.splash-background {
	background-image: url('../img/shopping.jpg'); 
	background-size: cover;
}

.splash-screen-offset {
	height: 70vh; 
}

.button.button-splash {
    border-color: transparent;
    background-color: #101;
    color: #fff;
	width: 60%;
}

.ham-background {
	background-image: url('../img/ham-faded.png'); 
	background-size: 210px 150px; 
	background-repeat: no-repeat; 
	background-position: bottom right;	
}

.pineapple-background {
	background-image: url('../img/pineapple-faded.png'); 
	background-size: 200px 200px; 
	background-repeat: no-repeat; 
	background-position: bottom right;
}

.sale-background {
	background-image: url('../img/sale-faded.png'); 
	background-size: 200px 135px; 
	background-repeat: no-repeat; 
	background-position: bottom;
}

/* styling taken from nrubin's answer at https://forum.ionicframework.com/t/customize-ionicloading/1673/2 */

.loading {
    background-color: inherit; 
	color: #abc;
    width: 75% !important;
    margin-left: -37.5% !important;
}

/* Animations inspired by https://www.joshmorony.com/how-to-create-animations-with-css-in-ionic/ */

@-webkit-keyframes slideDownBounce {
  0% { -webkit-transform: translate3d(0,-100%,0); }
  25% { -webkit-transform: translate3d(0,10%,0); }
  50% { -webkit-transform: translate3d(0,-20%,0); }
  25% { -webkit-transform: translate3d(0,10%,0); }
  100% { -webkit-transform: translate3d(0,0,0); }
}

@-webkit-keyframes slideUp {
  0% { -webkit-transform: translate3d(0,0,0); }
  100% { -webkit-transform: translate3d(0,-200%,0); }
}

.slide-down {
  -webkit-animation: slideDownBounce ease-in-out 1; 
  animation: slideDownBounce ease-in-out 1;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-duration: 800ms;
  animation-duration: 800ms;
}

.slide-down.ng-hide {
  -webkit-animation: slideUp ease-in 1; 
  animation: slideUp ease-in 1;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-duration: 250ms;
  animation-duration: 250ms;
}
